/*=============Global Settings=============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif
}

body {
    background-color: #24252a;
}
/*==========================================*/

/*===========Calculator Settings============*/
.fundo {
    height: 100vh;
    color: white;
}

#icon {
    width: 30px;
    cursor: pointer;
    user-select: none;
}

.calculadora {
    position: absolute;
    background-color: #bb3030;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

h1 {
    text-align: center;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #c75959;
    border: none;
    color: white;
}

.botao:hover {
    background-color: black;
}

#resultado {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
/*==========================================*/